*{
    margin: 0;
    padding: 0;
}

.header-div-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 4vh 6vw;
}

.cabecalho_primeira-sessao img{
    height: 9vh;
}

.cabecalho_primeira-sessao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.cabecalho_segunda-sessao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cabecalho_segunda-sessao button{
    height: 4.5vh;
    width: 9vw;
    border: 1px solid black;
}

#segunda-sessao_button-login{
    background-color: white;
    color: black;
}

#segunda-sessao_button-cadastro{
    background-color: black;
    color: white;
}