.main-chat{
    display: flex;
    flex-direction: column;
    padding: 10vh 4vw;
    gap: 20px;
}

h2{
    font-size: 35px;
}

.main-primeira-div{
    display: grid;
    grid-template-areas: "estatisticas estudos" 
                         "treinamento estudos";
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 30%;
    gap: 20px;
    min-height: 70vh;
}

/* MAIN PRIMEIRA SESSAO */

.main-primeira-div_primeira-sessao{
    display: flex;
    flex-direction: column;
    grid-area: estatisticas;
    padding: 2vh 3vw;
    background-color: #E2E2E2;
    border-radius: 15px;
    gap: 10px;
}

#primeira-sessao_paragrafo{
    font-size: 25px;
    font-weight: 600;
}

.primeira-sessao_estatisticas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: auto; 
}

.primeira-sessao_estatisticas_div{
    padding: 0.5vh 2vw;
    border-radius: 10px;
    background-color: #C8C8C8;
    flex-shrink: 0;
    min-width: 150px;
    word-wrap: break-word;
}

#primeira-sessao_div_paragrafo{
    font-weight: 600;
    font-size: 20px;
}

#primeira-sessao_div_nota{
    font-weight: 600;
    font-size: 40px;
}

/* MAIN SEGUNDA SESSAO */

.main-primeira-div_segunda-sessao{
    display: flex;
    flex-direction: column;
    grid-area: treinamento;
    padding: 2vh 3vw;
    background-color: #E2E2E2;
    border-radius: 15px;
    gap: 10px;
}

#segunda-sessao_paragrafo{
    font-size: 25px;
    font-weight: 600;
}

.formulario-treinamento{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.formulario-treinamento input{
    height: 5vh;
    background-color: #C8C8C8;
    border: none;
    border-radius: 5px;
}

#formulario-treinamento_conteudo{
    width: 80vw;
}

#formulario-treinamento_tempo{
    width: 10vw;
}

#formulario-treinamento_submeter{
    width: 10vw;
    background-color: black;
}

/* MAIN TERCEIRA SESSAO */

.main-primeira-div_terceira-sessao{
    display: flex;
    flex-direction: column;
    grid-area: estudos;
    padding: 2vh 3vw;
    background-color: #E2E2E2;
    border-radius: 15px;
    gap: 10px;
}

#terceira-sessao_paragrafo{
    font-size: 25px;
    font-weight: 600;
}

.terceira-sessao_primeira-div_sessao-ultimos-estudos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C8C8C8;
    border-radius: 10px;
    padding: 0.5vh 2vw;
    word-wrap: break-word;  /* Quebra palavras longas */
    min-width: 150px;  /* Impede que a div encolha demais */
}

.terceira-sessao_primeira-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;  /* Se o conteúdo for grande, adicione uma barra de rolagem vertical */
}


#primeira-div_sessao-ultimos-estudos_mencao{
    font-size: 60px;
}