header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    background-color: #514EF7;
}

.header-primeira-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#header-primeira-div_logo{
    height: 5vh;
}

#header-primeira-div_titulo{
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.header-segunda-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-segunda-div a{  
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#header-segunda-div_icone-user{
    height: 5vh;
}

@media screen and (min-width: 300px) and (max-width: 400px){
    header{
        padding: 2vh 4vw;
    }
    
    .header-primeira-div{
        gap: 15px;
    }
    
    #header-primeira-div_logo{
        height: 4vh;
    }
    
    #header-primeira-div_titulo{
        font-size: 14px;
    }
    
    .header-segunda-div{
        gap: 10px;
    }
    
    .header-segunda-div a{  
        font-size: 8px;
    }
    
    #header-segunda-div_icone-user{
        height: 3vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 700px){
    header{
        padding: 2vh 4vw;
    }
    
    .header-primeira-div{
        gap: 15px;
    }
    
    #header-primeira-div_logo{
        height: 4vh;
    }
    
    #header-primeira-div_titulo{
        font-size: 16px;
    }
    
    .header-segunda-div{
        gap: 10px;
    }
    
    .header-segunda-div a{  
        font-size: 10px;
    }
    
    #header-segunda-div_icone-user{
        height: 4vh;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px){
    header{
        padding: 3vh 4vw;
    }
    
    .header-primeira-div{
        gap: 15px;
    }
    
    #header-primeira-div_logo{
        height: 4.5vh;
    }
    
    #header-primeira-div_titulo{
        font-size: 17px;
    }
    
    .header-segunda-div{
        gap: 15px;
    }
    
    .header-segunda-div a{  
        font-size:12px;
    }
    
    #header-segunda-div_icone-user{
        height: 4.5vh;
    }
}

@media screen and (min-width: 901px) and (max-width: 1400px){
    header{
        padding: 3.5vh 4vw;
    }
    
    .header-primeira-div{
        gap: 15px;
    }
    
    #header-primeira-div_logo{
        height: 4.7vh;
    }
    
    #header-primeira-div_titulo{
        font-size: 18px;
    }
    
    .header-segunda-div{
        gap: 20px;
    }
    
    .header-segunda-div a{  
        font-size:16px;
    }
    
    #header-segunda-div_icone-user{
        height: 4.7vh;
    }  
}