
/* Home.jsx */
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main_paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.main_navegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#main_linha{
    width: 85%;
    margin: 20px auto;
    border: none;
    height: 1px;
    background-color: #000000;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.posts_listados {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.posts_listados_cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid #dbdbdb;
}

.posts_listados_cabecalho_usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 600;
    font-size: 0.9rem;
}

.posts_listados_cabecalho_botoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#botao-seguir{
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.85rem;
    cursor: pointer;
}

#botao-seguir:hover{
    background-color: #007bb1;
}

#botao_excluir{
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.85rem;
    cursor: pointer;
    background-color: red;
}

#botao-info{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.85rem;
    cursor: pointer;
    font-weight: 600;
}

.post-image {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.post-title {
    padding: 10px 16px;
    font-size: 1rem;
    color: #262626;
} 

#main_button-post {
    position: fixed;
    bottom: 4vh;
    right: 4vh;
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 800;
}


/* PerfisComponent.jsx */

.navegacao_perfis {
    display: flex;
    flex-direction: row;
}

.lista_perfis {
    display: flex; 
    flex-direction: row;
    gap: 3vw;
}

.perfil_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.perfil_imagem {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil_nome {
    font-size: 0.8em; 
}

/* ButtonPost.jsx */

.modal-div{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    gap: 10px;
}

.modal-content_header{
    
    display: flex;
    flex-direction: row;
    background-color:white;
    
}

.modal-content_header-primeira-sessao{
    color: white;
}

#close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    color: red;
    background-color: white;
}

.modal-content_form{
    display: flex;
    flex-direction: column;
}

#modal-content_form-input-file{
    padding: 4vh;
}

#modal-content_form-input-text{
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (min-width: 300px) and (max-width: 400px){
    /* Home.jsx */
    .main{
        gap: 20px;
    }

    #main_paragrafo {
        font-size: 12px;
    }

    .main_navegacao {
        gap: 10px;
    }

    #main_linha{
        width: 80%;
    }

    .posts {
        gap: 30px;
        padding: 20px;
    }

    .posts_listados {
        width: 100%;
        max-width: 500px;
    }

    .posts_listados_cabecalho {
        border-bottom: 2px solid #dbdbdb;
    }

    .posts_listados_cabecalho_usuario {
        gap: 10px;
    }

    .user-avatar {
        height: 40px;
        width: 40px;
    }

    .username {
        font-size: 0.9rem;
    }

    .posts_listados_cabecalho_botoes{
        gap: 10px;
    }

    #botao_excluir{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1rem;
    }

    #botao-info{
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .post-title {
        padding: 10px 16px;
        font-size: 1rem;
    } 

    /* PerfisComponent.jsx */

    .lista_perfis {
        gap: 3vw;
    }

    .perfil_item {
        gap: 20px;
        overflow-x: scroll;
    }

    .perfil_imagem {
        width: 70px; 
        height: 70px;
    }

    .perfil_nome {
        font-size: 0.5em; 
    }

    /* ButtonPost.jsx */

    .modal-content {
        padding: 20px;
        width: 300px;
        gap: 10px;
    }

    #close-button{
        font-size: 24px;
    }

    #modal-content_form-input-text{
        height: 20vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 700px){
    /* Home.jsx */
    .main{
        gap: 20px;
    }

    #main_paragrafo {
        font-size: 14px;
    }

    .main_navegacao {
        gap: 10px;
    }

    #main_linha{
        width: 80%;
    }

    .posts {
        gap: 30px;
        padding: 10px;
    }

    .posts_listados {
        width: 100%;
        max-width: 500px;
    }

    .posts_listados_cabecalho {
        border-bottom: 2px solid #dbdbdb;
    }

    .posts_listados_cabecalho_usuario {
        gap: 10px;
    }

    .user-avatar {
        height: 40px;
        width: 40px;
    }

    .username {
        font-size: 0.9rem;
    }

    .posts_listados_cabecalho_botoes{
        gap: 10px;
    }

    #botao_excluir{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1rem;
    }

    #botao-info{
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .post-title {
        padding: 10px 16px;
        font-size: 1rem;
    } 

    /* PerfisComponent.jsx */

    .lista_perfis {
        gap: 3vw;
    }

    .perfil_item {
        gap: 20px;
        overflow-x: scroll;
    }

    .perfil_imagem {
        width: 80px; 
        height: 80px;
    }

    .perfil_nome {
        font-size: 0.6em; 
    }

    /* ButtonPost.jsx */

    .modal-content {
        padding: 20px;
        width: 300px;
        gap: 10px;
    }

    #close-button{
        font-size: 24px;
    }

    #modal-content_form-input-text{
        height: 20vh;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px){
    /* Home.jsx */
    .main{
        gap: 20px;
    }

    #main_paragrafo {
        font-size: 18px;
    }

    .main_navegacao {
        gap: 10px;
    }

    #main_linha{
        width: 83%;
    }

    .posts {
        gap: 30px;
        padding: 20px;
    }

    .posts_listados {
        width: 100%;
        max-width: 600px;
    }

    .posts_listados_cabecalho {
        border-bottom: 2px solid #dbdbdb;
    }

    .posts_listados_cabecalho_usuario {
        gap: 15px;
    }

    .user-avatar {
        height: 45px;
        width: 45px;
    }

    .username {
        font-size: 1rem;
    }

    .posts_listados_cabecalho_botoes{
        gap: 10px;
    }

    #botao_excluir{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1rem;
    }

    #botao-info{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .post-title {
        padding: 10px 16px;
        font-size: 1rem;
    } 

    /* PerfisComponent.jsx */

    .lista_perfis {
        gap: 3vw;
    }

    .perfil_item {
        gap: 20px;
        overflow-x: scroll;
    }

    .perfil_imagem {
        width: 85px; 
        height: 85px;
    }

    .perfil_nome {
        font-size: 0.7em; 
    }

    /* ButtonPost.jsx */

    .modal-content {
        padding: 20px;
        width: 300px;
        gap: 10px;
    }

    #close-button{
        font-size: 24px;
    }

    #modal-content_form-input-text{
        height: 20vh;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
    /* Home.jsx */
    .main{
        gap: 20px;
    }

    #main_paragrafo {
        font-size: 18px;
    }

    .main_navegacao {
        gap: 10px;
    }

    #main_linha{
        width: 83%;
    }

    .posts {
        gap: 30px;
        padding: 20px;
    }

    .posts_listados {
        width: 100%;
        max-width: 600px;
    }

    .posts_listados_cabecalho {
        border-bottom: 2px solid #dbdbdb;
    }

    .posts_listados_cabecalho_usuario {
        gap: 15px;
    }

    .user-avatar {
        height: 45px;
        width: 45px;
    }

    .username {
        font-size: 1rem;
    }

    .posts_listados_cabecalho_botoes{
        gap: 10px;
    }

    #botao_excluir{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1rem;
    }

    #botao-info{
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .post-title {
        padding: 10px 16px;
        font-size: 1rem;
    } 

    /* PerfisComponent.jsx */

    .lista_perfis {
        gap: 3vw;
    }

    .perfil_item {
        gap: 20px;
        overflow-x: scroll;
    }

    .perfil_imagem {
        width: 85px; 
        height: 85px;
    }

    .perfil_nome {
        font-size: 0.7em; 
    }

    /* ButtonPost.jsx */

    .modal-content {
        padding: 20px;
        width: 300px;
        gap: 10px;
    }

    #close-button{
        font-size: 24px;
    }

    #modal-content_form-input-text{
        height: 20vh;
    }
}