.marcadores{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 60vh;
    width: 20vw;
    gap: 10px;
}

.marcadores_listados {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "imagem conteudo botao"; 
    border-radius: 10px;
    border: 1px solid black;
    padding: 1vh;
    gap: 10px;
}

#marcadores_listados-img {
    grid-area: imagem; 
    height: 5vh;
}

.marcadores_listados_conteudo {
    grid-area: conteudo; 
    display: flex;
    flex-direction: column;
}

#marcadores_listados_botao {
    grid-area: botao; 
    background-color: red;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    height: 25px; 
    width: 25px;
}

#marcadores_listados_conteudo_titulo{
    font-weight: 600;
    font-size: 14px;
}

#marcadores_listados_conteudo_descricao{
    font-size: 12px;
    width: 10vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 300px) and (max-width: 401px){
    .marcadores{
        height: 60vh;
        width: 30vw;
        gap: 10px;
    }
    
    .marcadores_listados {
        padding: 1vh;
        gap: 10px;
    }
    
    #marcadores_listados-img {
        height: 3vh;
    }
    
    #marcadores_listados_botao {
        height: 25px; 
        width: 25px;
    }
    
    #marcadores_listados_conteudo_descricao{
        font-size: 10px;
        width: 10vw;
    }
}

@media screen and (min-width: 401px) and (max-width: 501px){
    .marcadores{
        height: 60vh;
        width: 30vw;
        gap: 10px;
    }
    
    .marcadores_listados {
        padding: 1vh;
        gap: 10px;
    }
    
    #marcadores_listados-img {
        height: 3vh;
    }
    
    #marcadores_listados_botao {
        height: 25px; 
        width: 25vw;
    }
    
    #marcadores_listados_conteudo_descricao{
        font-size: 10px;
        width: 10vw;
    }
}  

@media screen and (min-width: 501px) and (max-width: 800px){
    .marcadores{
        height: 60vh;
        width: 30vw;
        gap: 10px;
    }
    
    .marcadores_listados {
        padding: 1vh;
        gap: 10px;
    }
    
    #marcadores_listados-img {
        height: 4vh;
    }
    
    #marcadores_listados_botao {
        height: 25px; 
        width: 25px;
    }
    
    #marcadores_listados_conteudo_descricao{
        font-size: 10px;
        width: 10vw;
    }
}
