.Redacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 4vw;
    gap: 10px;
}

#titulo{
    font-size: 40px;
}

.Redacoes_div{
    padding: 3vh 14vw;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
}